AppClient/Connected Services/Webservice/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTousLesArticles">
        <s:complexType />
      </s:element>
      <s:element name="getTousLesArticlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTousLesArticlesResult" type="tns:ArrayOfCArticles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCArticles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CArticles" nillable="true" type="tns:CArticles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CArticles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdRubrique" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Poids" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="PrixUnitaire" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantiteStock" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="updateArticle">
        <s:complexType />
      </s:element>
      <s:element name="updateArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateArticleResult" type="tns:ArrayOfCArticles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteArticle">
        <s:complexType />
      </s:element>
      <s:element name="deleteArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteArticleResult" type="tns:ArrayOfCArticles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findUnArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArticle" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findUnArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findUnArticleResult" type="tns:CArticles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findUnArticleParRubrique">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRubrique" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findUnArticleParRubriqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findUnArticleParRubriqueResult" type="tns:ArrayOfCArticles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTousLesPays">
        <s:complexType />
      </s:element>
      <s:element name="getTousLesPaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTousLesPaysResult" type="tns:ArrayOfCPays" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCPays">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CPays" nillable="true" type="tns:CPays" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CPays">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getToutesLesRegions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getToutesLesRegionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getToutesLesRegionsResult" type="tns:ArrayOfCRegions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRegions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRegions" nillable="true" type="tns:CRegions" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRegions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getToutesLesRubriques">
        <s:complexType />
      </s:element>
      <s:element name="getToutesLesRubriquesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getToutesLesRubriquesResult" type="tns:ArrayOfCRubrique" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRubrique">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRubrique" nillable="true" type="tns:CRubrique" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRubrique">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_Parent" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RubriquesFilles" type="tns:ArrayOfCRubrique" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getTousLesArticlesSoapIn">
    <wsdl:part name="parameters" element="tns:getTousLesArticles" />
  </wsdl:message>
  <wsdl:message name="getTousLesArticlesSoapOut">
    <wsdl:part name="parameters" element="tns:getTousLesArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="updateArticleSoapIn">
    <wsdl:part name="parameters" element="tns:updateArticle" />
  </wsdl:message>
  <wsdl:message name="updateArticleSoapOut">
    <wsdl:part name="parameters" element="tns:updateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="deleteArticleSoapIn">
    <wsdl:part name="parameters" element="tns:deleteArticle" />
  </wsdl:message>
  <wsdl:message name="deleteArticleSoapOut">
    <wsdl:part name="parameters" element="tns:deleteArticleResponse" />
  </wsdl:message>
  <wsdl:message name="findUnArticleSoapIn">
    <wsdl:part name="parameters" element="tns:findUnArticle" />
  </wsdl:message>
  <wsdl:message name="findUnArticleSoapOut">
    <wsdl:part name="parameters" element="tns:findUnArticleResponse" />
  </wsdl:message>
  <wsdl:message name="findUnArticleParRubriqueSoapIn">
    <wsdl:part name="parameters" element="tns:findUnArticleParRubrique" />
  </wsdl:message>
  <wsdl:message name="findUnArticleParRubriqueSoapOut">
    <wsdl:part name="parameters" element="tns:findUnArticleParRubriqueResponse" />
  </wsdl:message>
  <wsdl:message name="getTousLesPaysSoapIn">
    <wsdl:part name="parameters" element="tns:getTousLesPays" />
  </wsdl:message>
  <wsdl:message name="getTousLesPaysSoapOut">
    <wsdl:part name="parameters" element="tns:getTousLesPaysResponse" />
  </wsdl:message>
  <wsdl:message name="getToutesLesRegionsSoapIn">
    <wsdl:part name="parameters" element="tns:getToutesLesRegions" />
  </wsdl:message>
  <wsdl:message name="getToutesLesRegionsSoapOut">
    <wsdl:part name="parameters" element="tns:getToutesLesRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="getToutesLesRubriquesSoapIn">
    <wsdl:part name="parameters" element="tns:getToutesLesRubriques" />
  </wsdl:message>
  <wsdl:message name="getToutesLesRubriquesSoapOut">
    <wsdl:part name="parameters" element="tns:getToutesLesRubriquesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTousLesArticles">
      <wsdl:input message="tns:getTousLesArticlesSoapIn" />
      <wsdl:output message="tns:getTousLesArticlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateArticle">
      <wsdl:input message="tns:updateArticleSoapIn" />
      <wsdl:output message="tns:updateArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteArticle">
      <wsdl:input message="tns:deleteArticleSoapIn" />
      <wsdl:output message="tns:deleteArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findUnArticle">
      <wsdl:input message="tns:findUnArticleSoapIn" />
      <wsdl:output message="tns:findUnArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findUnArticleParRubrique">
      <wsdl:input message="tns:findUnArticleParRubriqueSoapIn" />
      <wsdl:output message="tns:findUnArticleParRubriqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTousLesPays">
      <wsdl:input message="tns:getTousLesPaysSoapIn" />
      <wsdl:output message="tns:getTousLesPaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getToutesLesRegions">
      <wsdl:input message="tns:getToutesLesRegionsSoapIn" />
      <wsdl:output message="tns:getToutesLesRegionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getToutesLesRubriques">
      <wsdl:input message="tns:getToutesLesRubriquesSoapIn" />
      <wsdl:output message="tns:getToutesLesRubriquesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTousLesArticles">
      <soap:operation soapAction="http://tempuri.org/getTousLesArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateArticle">
      <soap:operation soapAction="http://tempuri.org/updateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteArticle">
      <soap:operation soapAction="http://tempuri.org/deleteArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUnArticle">
      <soap:operation soapAction="http://tempuri.org/findUnArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUnArticleParRubrique">
      <soap:operation soapAction="http://tempuri.org/findUnArticleParRubrique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTousLesPays">
      <soap:operation soapAction="http://tempuri.org/getTousLesPays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToutesLesRegions">
      <soap:operation soapAction="http://tempuri.org/getToutesLesRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToutesLesRubriques">
      <soap:operation soapAction="http://tempuri.org/getToutesLesRubriques" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTousLesArticles">
      <soap12:operation soapAction="http://tempuri.org/getTousLesArticles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateArticle">
      <soap12:operation soapAction="http://tempuri.org/updateArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteArticle">
      <soap12:operation soapAction="http://tempuri.org/deleteArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUnArticle">
      <soap12:operation soapAction="http://tempuri.org/findUnArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUnArticleParRubrique">
      <soap12:operation soapAction="http://tempuri.org/findUnArticleParRubrique" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTousLesPays">
      <soap12:operation soapAction="http://tempuri.org/getTousLesPays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToutesLesRegions">
      <soap12:operation soapAction="http://tempuri.org/getToutesLesRegions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToutesLesRubriques">
      <soap12:operation soapAction="http://tempuri.org/getToutesLesRubriques" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:8080/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>